body {
    font-family: Arial, Helvetica, sans-serif;
    background: coral;
}


/* Structure */

#content {
    padding: 5px;
    width: 80%;
    margin: auto;   /*Center horizontally*/
    border-radius: 5px; /*Round the corners*/
}

#main-header, 
#main-content {
    background-color: #DDEAF3;
    margin-bottom: 10px;
}

#main-footer {
    margin-bottom: 10px;
    text-align: center;
}

/* Main Navigation*/

#main-nav ul {
    padding-left: 0; /*Moves the list left*/
}

#main-nav li {
    list-style-type: none; /* Removes Bullet*/
    background: lightcoral;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    text-align: center;
}

#main-nav a {
    text-decoration: none; /*Remove underline*/
    color: white;
}

#itemheader {
    text-indent: 40px;
    color:#8b0000;
}

#item {
    list-style-type: none;
    text-decoration: none;
    color: lightcoral;
}

#itemtext {
    color: #8b0000;
}

.columns {
    border: 1px solid #8b0000;
}

.one {
    border-bottom: 1px solid #8b0000;
}


/*Typography*/

h1,
h5 {
    text-align: center;
    color: #8b0000;
}

h3 {
    color:#8b0000;
}

/* For larger resolutions */
@media only screen and (min-width: 768px) {
    .columns {
        display: flex;
    }

    .one,
    #main-nav li {
        flex: 1;
    }

    .one {
        border-right: 1px solid #8b0000;
    }

    .split {
        flex: 1;
    }

    .two {
        flex: 3;
    }

    .columns img {
        max-width: 80%;
    }

    #main-nav li {
        text-align: center;
        border-bottom: 2px solid transparent;
    }

    #main-nav :hover {
        border-bottom: 2px solid black;
    }
}