body {
    background: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment{
    display:flex;
    flex-wrap: wrap;
}

.assignment{
    display: flexbox;
    padding: 10px;
    margin: 10px;
    padding: 20px 10px;
    background: coral;
    border-radius: 10px;
}

.assignment img {
    scale: 97%;
    padding: 10px;
    border: 10px solid #fff;
}

.assignment img :hover{
    border: 40px dashed crimson;
}
 
h1 {
    color: midnightblue;
    text-align: center;
}

h1 :hover{
    color: blanchedalmond;
}

a{
    text-decoration: none;
}