body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: burlywood;
    color: brown;
}


/* Structure */

#content {
    background: lemonchiffon;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    border-radius: 5px;
}

#assignment-header {
    text-align: center;
}

#assignment1 {
    background: burlywood;
    justify-content: center;
    align-content: center;
}

#assignment2 {
    background: burlywood;
}

#assignment3 {
    background: burlywood;
}

/*Typography*/

h1 {
    color: chocolate;
}

/* For larger resolutions */
@media only screen and (min-width: 768px) {
    .columns {
        display: flex;
        padding-right: 5px;
    }

    #assignment1 {
        flex: 1;
        margin: 5px;
    }

    #assignment2 {
        flex: 1;
        margin: 5px;
    }

    #assignment3 {
        flex: 1;
        margin: 5px;
    }
}